.header-container{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    height:120px;
    background-color:rgb(9, 14, 65);
    align-items:center;
    color:white;

}